.linkstyle {
    color: white;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-style: italic;
  }
  
  a:hover, a:active {
    color:blue;
  }

  .hover-effect:hover{
    text-shadow: gray -6px 0;
  }

  .picture-animation{
    text-align: center;
  }


  .picture-animation:hover{
    animation: animationPicture 2s ease 100ms 1 normal forwards;
  }

  @keyframes animationPicture {
    0% {
      transform: scale(1);
    }
  
    50% {
      transform: scale(1.1);
    }
  
    100% {
      transform: scale(1);
    }
  }