.linkstyle {
    color: white;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-style: italic;
  }
  
  a:hover, a:active {
    color:blue;
  }

  .hover-effect:hover{
    text-shadow: gray -6px 0;
  }